<ion-header>

  <ion-navbar color="primary">
      
      <ion-buttons right>
          <button ion-button (click)="onHome()">
            <ion-icon name="information-circle"></ion-icon>
          </button>
        </ion-buttons>
    <ion-title align="center">Fidyah</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-card class="card-bg" >
    <ion-card-content >
    "Dan orang-orang yang tidak mampu berpuasa hendaknya membayar fidyah, dengan memberi makan seorang miskin" [Al-Baqarah : 184]
    </ion-card-content>
  </ion-card>
  <ion-note style="color:red;" padding><strong>*Masukkan info pembayaran Fidyah</strong></ion-note>

  <form [formGroup]="fidyahform">
    <ion-grid>
      <ion-row>
        <ion-col col-9>
            <ion-label color="primary"><strong>Bilangan Hari Tinggal Puasa</strong></ion-label>
        </ion-col>
        <ion-col col-3>
            <ion-input formControlName="fidyahhari" [(ngModel)]="fidyahhari" type="number" placeholder="Hari" (ngModelChange) = "onChange()" required></ion-input>
        </ion-col>
      </ion-row>
      <ion-note style="color:red;" *ngIf="!fidyahform.controls.fidyahhari.valid  && (fidyahform.controls.fidyahhari.dirty || submitAttempt)" >
        *Sila masukkan hari yang tepat
      </ion-note>
   
      <ion-row>
        <ion-col col-9>
            <ion-label color="primary"><strong>Jumlah Tahun</strong></ion-label>
        </ion-col>
        <ion-col col-3>
            <ion-input formControlName="fidyahtahun" [(ngModel)]="fidyahtahun" type="number" placeholder="Tahun" (ngModelChange) = "onChange()" required></ion-input>
        </ion-col>
      </ion-row>
      <ion-note style="color:red;" *ngIf="!fidyahform.controls.fidyahtahun.valid  && (fidyahform.controls.fidyahtahun.dirty || submitAttempt)" >
        *Sila masukkan tahun yang tepat
      </ion-note>
    </ion-grid>
  </form>
  
  <hr>
  <ion-list padding> 
    <button ion-item style="background-color: #4682B4 !important;">     
      <ion-label color="white">Bayaran Dikenakan : &nbsp;&nbsp; <strong>RM</strong></ion-label>
      <ion-input style="color:#fff;" [(ngModel)]="fidyahamtstr" readonly></ion-input>
    </button>

  </ion-list>

  <button ion-button color="primary" block [disabled]="!fidyahform.valid" (click)="onLoad()">BAYAR FIDYAH</button>


</ion-content>
