page-fidyah {
    .item-inner {
        border-bottom-color: transparent !important;
        box-shadow: none !important;
        }
    .card-bg{
        background-color: #7B68EE !important;
        font-style:italic;
        color: #fff;
    }
}
