<ion-menu [content]="nav" color="primary">
  <ion-header>
    <ion-toolbar class="user-profile">

      <ion-grid>
        <ion-row>
          <ion-col col-4>
              <div class="user-avatar">
                <img src="../assets/img/salman.jpeg">
              </div>
          </ion-col>
          <ion-col padding-top col-8>
            <h2 ion-text class="no-margin bold text-white">
              Salman Shah
            </h2>
            <!-- <span ion-text color="light">Pelajar</span> -->
          </ion-col>
        </ion-row>

        <!-- <ion-row no-padding class="other-data">
          <ion-col no-padding class="column">
            <button ion-button icon-left small full color="light" menuClose disabled>
              <ion-icon name="contact"></ion-icon>
              Kemaskini Profil
            </button>
          </ion-col>
          <ion-col no-padding class="column">
            <button ion-button icon-left small full color="light" menuClose (click)="onLogout()">
              <ion-icon name="log-out"></ion-icon>
              Keluar
            </button>
          </ion-col>
        </ion-row> -->

      </ion-grid>

    </ion-toolbar>
  </ion-header>
 <ion-content>
   <ion-list class="user-list">
     <button ion-item (click)="onLoad(tabsPage)" *ngIf="isAuthenticated">
       <ion-icon name="book" item-left></ion-icon>
       Jom Infaq
     </button>
     <button ion-item (click)="onLoad(profilePage)" *ngIf="isAuthenticated">
       <ion-icon name="person" item-left></ion-icon>
       Profil
     </button>
     <button ion-item (click)="onLoad(loginPage)" *ngIf="!isAuthenticated">
       <ion-icon name="quote" item-left></ion-icon>
       Log Masuk
     </button>
     <button ion-item (click)="onLoad(registerPage)" *ngIf="!isAuthenticated">
       <ion-icon name="settings" item-left></ion-icon>
       Cipta Akaun
     </button>
     <button ion-item (click)="onLogout()" *ngIf="isAuthenticated">
      <ion-icon name="log-out" item-left></ion-icon>
      Keluar
    </button>

   </ion-list>
 </ion-content>
</ion-menu>


<ion-nav [root]="rootPage" #nav></ion-nav>
